* {
    margin: 0;
    box-sizing: border-box;
    list-style: none; 
    
}
#titulos{
    margin: 90px;
}

ul .nav-li{
    display: flex;  
    right: 0%;
  
}
#menuppal{
    float: right;
}
.menu-navegador{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor:pointer;
    display: none;    
 }

nav{
    display:inline;
    justify-content: space-between;   
    padding: 2% 2%;  
    font-family: Georgia;
    background-color: rgb(162, 189, 238);
    height: 12%;
    position:absolute;
    width: 100%;
    top: 0;    
   
}
.nav{
    padding: 1px 2px;
    border-radius: 1%;
}
.nav-ul{
    display: flex;                  
}
.nav-li{
    font-size: 1.2em;    
    color: rgb(245, 238, 238);
    margin: 0 30px;
    line-height: 100%;     
    width: max-content;
    list-style: none;
}
.nav:hover{
    margin: 0 2%;
    background-color: rgb(98, 148, 241);
}

a:link, a:visited, a:active {
    text-decoration:none;
}
a{
    color: black; 
}


aside{
    display: flex; 
    background-color: rgb(162, 189, 238);
    justify-content:center;     
    padding: 0.3% 0.3%;      
}

.ul-aside{  
    display: flex;    
    justify-content: space-between; 
    margin: auto;
    padding: auto;
}

li{ 
    font-size: 1em;      
    color:black;
    margin: 1em 1.2em;
    line-height: 1.6em;      
}


  h3{
      font-family:'Lucida Sans';
      font-weight: bold;
      font-size: 1.5em;  
      text-align: center;
      margin: auto;
      padding: auto;     
  }
    
  .pie{
    display:block;
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 1%;
    margin: 2%;
    text-align: center; 
    margin: 0;
    
}
